/* Variables */
:root {
    --max-width: 1320px;
    --color-text-body: #d3d3d4;
    --color-primary: #5956e9;
    --color-secondary: #d3d3d4;
    --color-banner: #27272e;
    --color-text-btn: #fff;
    --color-bg-btn: #2525ba;
    --color-subtitle: #c75c6f;
    --color-title: #d3d3d4;
    --color-bg-card: #27272e;
    --color-bg-projects: #292930;
    --color-bg-dark: #27272E;
    --color-text-description: #99a1aa;
    --color-hover-dark: #303035;
    --color-borders: #393940;
    --color-yellow: #ffdc60;
}

body {
    background-color: #212121;
}

.banner__btn {
    background-color: var(--color-primary);
    /* color: var(); */
}

.menu__navbar--fixed {
    background-color: var(--color-banner);
}

.project__content {
    background-color: var(--color-banner);
}

.author__name,
.review__description {
    color: var(--color-secondary);
}

.layout__contact::before {
    background-color: var(--color-banner);
}

.contact__subtitle {
    color: var(--color-yellow);
}

.contact__btn {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
}

.fleft__group {
    background-color: #27272E;
    box-shadow: none;
}

.fleft__form-control {
    background-color: #27272E;
}

.nav__submenu {
    background-color: var(--color-banner);
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
}

.nav__title:hover {
    color: var(--color-secondary);
}

.nav__title::before {
    background-color: var(--color-secondary);
}

.submenu__title:hover {
    color: var(--color-secondary);
}

.submenu__title::after {
    background-color: var(--color-secondary);

}

.new__more {
    color: var(--color-text-body);
}

.services__service {

    background: var(--color-banner);
    background-color: var(--color-banner);

}

.project__title:hover {
    color: var(--color-yellow);
}

.widget__link:hover {
    color: var(--color-yellow);
}

.fleft__btn:hover {
    background-color: var(--color-bg-btn);
}

.mobile-btn__wrap {

    background-color: var(--color-bg-projects);

}